.CategoryBox {
  display: flex;
  margin-bottom: 30px;
  height: calc(100% - 30px);
}
.EditButton {
  display: flex;
  visibility: hidden;
  position: absolute;
  left: calc(100% - 56px);
  padding: 5px;
  z-index: 1;
}
.CategoryBox:hover .EditButton {
  visibility: visible;
}
