.ImageControl {
  display: flex;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.CategoryBox:hover .ImageControl {
  visibility: visible;
  pointer-events: auto;
}
