.EditButton {
  visibility: hidden;
  pointer-events: none;
}
.CategoryBox:hover .EditButton {
  pointer-events: auto;
  visibility: visible;
}
.CategoryBox a {
  color: inherit;
  text-decoration: none;
}
