.CategoryBox {
  display: flex;
  margin-bottom: 30px;
  height: calc(100% - 30px);
}
.EditButton {
  visibility: hidden;
  pointer-events: none;
}
.CategoryBox:hover .EditButton {
  pointer-events: auto;
  visibility: visible;
}
