.Percent {
  position: absolute;
  left: 50%;
  top: 46%;
  font-size: 35px;
  transform: translate(-50%, -50%);
  color: #28a745;
}
.Value {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  color: inherit;
}
.GoalValue {
  color: inherit;
  position: absolute;
  left: 50%;
  top: 85%;
  font-size: 16px;
  transform: translate(-50%, -50%);
}
